.elementor-4487 .elementor-element.elementor-element-57e6807{text-align:center;}.elementor-4487 .elementor-element.elementor-element-57e6807 .elementor-heading-title{color:#00EA5A;}.elementor-4487 .elementor-element.elementor-element-57e6807 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:3% 3% 3% 3%;}@media(max-width:767px){.elementor-4487 .elementor-element.elementor-element-57e6807{width:100%;max-width:100%;}}/* Start custom CSS for text-editor, class: .elementor-element-03e382c */.elementor-4487 .elementor-element.elementor-element-03e382c {
    text-align: center;
width: 315px;
margin: 0 auto;
color: #878c92;
}/* End custom CSS */
/* Start custom CSS for wp-widget-mo_openid_login_wid, class: .elementor-element-d98188e */.elementor-4487 .elementor-element.elementor-element-d98188e {
    text-align: center;
}/* End custom CSS */