.elementor-4716 .elementor-element.elementor-element-57e6807{text-align:center;}.elementor-4716 .elementor-element.elementor-element-57e6807 .elementor-heading-title{color:#00EA5A;}.elementor-4716 .elementor-element.elementor-element-57e6807 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:3% 3% 3% 3%;}.elementor-4716 .elementor-element.elementor-element-2450e46.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}/* Start custom CSS for text-editor, class: .elementor-element-91bde58 */.elementor-4716 .elementor-element.elementor-element-91bde58 {
    text-align: center;
width: 315px;
margin: 0 auto;
color: #878c92;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2450e46 */.elementor-4716 .elementor-element.elementor-element-2450e46 {
    text-align: center;
}/* End custom CSS */